<%include partials/header%> 

    <!-- Jumbotron -->
        <div id="jumbotron">
        <div class="container jump">
            <div class="row">
                <div class="col-md-6 col-md-offset-0">
                    <h1 class="text-left" data-aos="fade-up" data-aos-duration="500">Online Consultation System</h1>
                    <p class="text-left">Provide Efficient and Convenience healthcare services for you. </p>
                    <ul data-aos="fade-left" data-aos-duration="700">
                        <li><i class="fa fa-check"></i>Affordable Montly Packages</li>
                        <li><i class="fa fa-check"></i>Choose your favorite doctor</li>
                        <li><i class="fa fa-check cns"></i>Connect with Skype</li>
                    </ul>
                </div>
                <!--<div class="col-md-6"><img src="http://pngimg.com/uploads/doctor/doctor_PNG16039.png?i=1" data-aos="fade-up" data-aos-duration="400" id="img-para"></div>-->
            </div>
        </div>
    </div>
<!--<div id="jumbotron" class="container">-->
<!--     <div class="jumbotron">-->
<!--         <div class="container">-->
<!--             <h1>Welcome To Online Consultation System</h1>-->
<!--             <p>View our Certified Doctors</p>-->
<!--             <p>-->
<!--                <a class="btn btn-primary btn-large" href=#>View Available Doctors</a>-->
<!--             </p>-->
<!--         </div>-->
<!--     </div>-->

<!-- Information -->

<div id="information" class="container">
    <div class="row">
        <div class="col-md-3 item">
            <i class="fa fa-check" aria-hidden="true"></i>
            <h3>Make an Appointment</h3>
            <p>Log in with your account and schedule an appoint with your doctor for consulation for medical checkups or advices. </p>
        </div>
         <div class="col-md-3 item">
                <i class="fa fa-medkit"></i>
                <h3>Specialists </h3>
                <p>Select a packages that is ideal for your needs in terms of medical needs. </p>
            </div>
            <div class="col-md-3 item">
                <i class="fa fa-file-text"></i>
                <h3>Select Package</h3>
                <p>Specalists are available for more specific check ups and advices. </p>
            </div>
            <div class="col-md-3 item">
                <i class="fa fa-hospital-o"></i>
                <h3>Get Diagnostic Report</h3>
                <p>Recieve Diagnostic report of the medical checkup or advices for future reference and future checkups. </p>
            </div>
        </div>
    </div>
</div>

<!--Emergency-->
<div class="container" id="emergency">
	<div class="row">
		<div class="col-md-12">
			<div class="actioncall bg-gray">
				<div class="row">
					<div class="col-md-8">
    				<div class="act-text">
    				<h3>In an emergency? Require Immediate Help?</h3>
    				<p>Connect with doctors that are online and recieve directions and help. </p>
    				</div>
					</div>
					<div class="col-md-4">
							<div class="act-btn">
								<a href="#" class="btn btn-info btn-md">Book an appoinment</a>	
							</div>
						</div>
					</div>
						</div>
					</div>
				</div>
            </div>


<!-- Services -->
   <div class="container" id="service">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail" id="serviceImg">
                    <img src="http://www.urgentcaremds.com/wp-content/uploads/2014/07/urgent-care-doctor-lady.png" data-aos="fade-up" data-aos-duration="600" data-aos-delay="50">
                </div>
            </div>
            <div class="col-md-3" data-aos="fade-left" data-aos-duration="600" data-aos-delay="100">
                <i class="fa fa-stethoscope"></i>
                <h4>Medical Checkups</h4>
                <p>Efficient virtual medical checkups</p>
            </div>
            <div class="col-md-3" data-aos="fade-left" data-aos-duration="600" data-aos-delay="100">
                <i class="fa fa-skype"></i>
                <h4>Skype Integration</h4>
                <p>Consulatation via Skype</p>
            </div>
            <div class="col-md-3" data-aos="fade-left" data-aos-duration="600" data-aos-delay="100">
                <i class="fa fa-wheelchair"></i>
                <h4>Nursing Services</h4>
                <p>Paragraph</p>
            </div>
            <div class="col-md-3" data-aos="fade-left" data-aos-duration="600" data-aos-delay="100">
                <i class="fa fa-plus-square"></i>
                <h4>Prescriptions </h4>
                <p>Prescriptions of medicine via online</p>
            </div>
            <div class="col-md-3" data-aos="fade-left" data-aos-duration="600" data-aos-delay="100">
                <i class="fa fa-map-marker"></i>
                <h4>Access </h4>
                <p>Access from anywhere at anytime for consultation</p>
            </div>
            <div class="col-md-3" data-aos="fade-left" data-aos-delay="100">
                <i class="fa fa-user"></i>
                <h4>Personalized </h4>
                <p>Private and personalized online consulation</p>
            </div>
        </div>
    </div>
    </body>
</html>