<%include partials/header%>    

    <!--<div>-->
    <!--    <div class="container login">-->
    <!--        <div class="row row-login">-->
    <!--            <div class="col-lg-offset-0 col-md-6 col-md-offset-0">-->
    <!--                <h1><strong>Welcome to the online Medicla consulation system, the easiest method to visit a doctor via through skype</strong></h1>-->
    <!--                <p>To get started, tell us a bit about yourself. Simply sign up and activate to create your account to connect with board certified doctors.</p>-->
    <!--            </div>-->
    <!--            <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">-->
    <!--                <div class="well">-->
    <!--                    <h3 class="text-danger">Login </h3>-->
    <!--                    <form action="/login" method="POST">-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="control-label">Username </label>-->
    <!--                            <input class="form-control" type="text">-->
    <!--                        </div>-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="control-label">Password </label>-->
    <!--                            <input class="form-control" type="password">-->
    <!--                        </div>-->
    <!--                        <div class="form-group">-->
    <!--                            <div class="checkbox">-->
    <!--                                <label class="control-label">-->
    <!--                                    <input type="checkbox">Remember me</label>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    <div class="form-group">-->
    <!--                <input class = "btn btn-block btn-primary" type="submit" value="Log In">-->
    <!--           </div>-->
    <!--            </div>                    -->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    
    
    <div class="container">
    <div class="row">
        <h1 style="text-align: center">Login Form</h1>
        <div class="col-lg-offset-0 col-md-6 col-md-offset-0">
                    <h2><strong>Welcome to the online Medicla consulation system, the easiest method to visit a doctor via through skype</strong></h2>
                    <p>To get started, tell us a bit about yourself. Simply sign up and activate to create your account to connect with board certified doctors.</p>
                </div>
        <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <div class="well">
            <form action="/login" method="POST">
                <div class="form-group">
                    <input class="form-control" text="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" text="text" name="password" placeholder="password">
                </div>
                <!--<div class="form-group">-->
                <!--    <label class="checkbox-inline"><input type="checkbox" name="role" value="patient">Patient</label>-->
                <!--    <label class="checkbox-inline"><input type="checkbox" name="role" value="doctor">Doctor</label>-->
                <!--</div>-->
                <div class="form-group">
                    <input class = "btn btn-block btn-primary" type="submit" value="Login!">
                </div>
            </form>
            </div>
            </div>
            <a href="/">Go Back</a>
    </div>
</div>
    
</body>

</html>