<%include ../partials/header%>    

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Appointment Form</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/appointment" method="POST">

                <div class="form-group">
                    <input class="form-control" type="text" name="doctor_id" placeholder="doctor_id">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Your name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="reason" placeholder="Appointment Reason">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="date" placeholder="Date">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="time" placeholder="Time">
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Symptioms">
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/appointment">Go Back</a>
        </div>
    </div>
</div>

</body>